#trigger-overlay, #btnSig, #btnAnt, #Logo, #backmenu, #head, #home, #footer{
	-webkit-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
#title{
	-webkit-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}
#txt1{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img1{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullets1{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullets2{
	-webkit-animation-delay: 2.3s;
	-o-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
#bullets3{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}

#txt2{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt3{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#flecha1{
	webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#img2{
	webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#txt4{
	webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#bullets4{
	webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#bullets5{
	webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#bullets6{
	webkit-animation-delay: 4.3s;
	-o-animation-delay: 4.3s;
	animation-delay: 4.3s;
}
#flecha2{
	webkit-animation-delay: 4.8s;
	-o-animation-delay: 4.8s;
	animation-delay: 4.8s;
}
#img3{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img4,#img19{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay:2.5s;
}
#img5, #img13{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
#img6, #img14{
	-webkit-animation-delay: 4.1s;
	-o-animation-delay: 4.1s;
	animation-delay: 4.1s;
}
#img7, #img12, #txt5, #img15, #img18{
	-webkit-animation-delay: 4.9s;
	-o-animation-delay: 4.9s;
	animation-delay: 4.9s;
}
#img8{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img9{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#img10, #img16{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#img11, #img17{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
#txt7{
	-webkit-animation-delay: 5.2s;
	-o-animation-delay: 5.2s;
	animation-delay: 5.2s;
}
#txt8{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img23{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay:2.8s;
}
#img24{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay:3.2s;
}
#img25{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img26{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img20{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay:2.9s;
}
#img21{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay:3.2s;
}
#img27{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#img28{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img29{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img30{
	-webkit-animation-delay: 4.4s;
	-o-animation-delay: 4.4s;
	animation-delay: 4.4s;
}
#img22{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#txt9{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}