#trigger-overlay, #btnSig, #btnAnt, #Logo, #backmenu, #head, #home, #footer{
	-webkit-animation-delay: .7s;
	-o-animation-delay: .7s;
	animation-delay: .7s;
}
#title{
	-webkit-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}
#txt1{
	-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
#img1{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullets1{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#bullets2{
	-webkit-animation-delay: 2.3s;
	-o-animation-delay: 2.3s;
	animation-delay: 2.3s;
}
#bullets3{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}

#txt2{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#txt3{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#flecha1{
	webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#img2{
	webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#txt4{
	webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#bullets4{
	webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#bullets5{
	webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#bullets6{
	webkit-animation-delay: 4.3s;
	-o-animation-delay: 4.3s;
	animation-delay: 4.3s;
}
#flecha2{
	webkit-animation-delay: 4.8s;
	-o-animation-delay: 4.8s;
	animation-delay: 4.8s;
}
#img3{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img4,#img19{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay:2.5s;
}
#img5, #img13{
	-webkit-animation-delay: 3.3s;
	-o-animation-delay: 3.3s;
	animation-delay: 3.3s;
}
#img6, #img14{
	-webkit-animation-delay: 4.1s;
	-o-animation-delay: 4.1s;
	animation-delay: 4.1s;
}
#img7, #img12, #txt5, #img15, #img18{
	-webkit-animation-delay: 4.9s;
	-o-animation-delay: 4.9s;
	animation-delay: 4.9s;
}
#img8{
	-webkit-animation-delay: 1.9s;
	-o-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
#img9{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#img10, #img16{
	-webkit-animation-delay: 3.7s;
	-o-animation-delay: 3.7s;
	animation-delay: 3.7s;
}
#img11, #img17{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
#txt7{
	-webkit-animation-delay: 5.2s;
	-o-animation-delay: 5.2s;
	animation-delay: 5.2s;
}
#txt8, #img68{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}

#img23,{
	-webkit-animation-delay: 2.8s;
	-o-animation-delay: 2.8s;
	animation-delay:2.8s;
}
#img24, #img224{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay:3.2s;
}
#img25,#img325{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img26,#img326{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img20,#img220{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay:2.9s;
}
#img21,#img221{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay:3.2s;
}
#img27{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#img28,#img328{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img29,#img329{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img30,#img330{
	-webkit-animation-delay: 4.4s;
	-o-animation-delay: 4.4s;
	animation-delay: 4.4s;
}
#img22, #img222{
	-webkit-animation-delay: 3.4s;
	-o-animation-delay: 3.4s;
	animation-delay: 3.4s;
}
#txt9{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#txt10, #img69{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img31{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#img34, #img34new{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img32,#img33, #img32new, #img33new{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img35, #img35new{
	-webkit-animation-delay: 4.4s;
	-o-animation-delay: 4.4s;
	animation-delay: 4.4s;
}
#img36{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
#img37{
	-webkit-animation-delay: 4.9s;
	-o-animation-delay: 4.9s;
	animation-delay: 4.9s;
}
#img38{
	-webkit-animation-delay: 5.1s;
	-o-animation-delay: 5.1s;
	animation-delay: 5.1s;
}
#txt11{
	-webkit-animation-delay: 5.3s;
	-o-animation-delay: 5.3s;
	animation-delay: 5.3s;
}
#img41, #txt20, #txt22, #img67, #img74, #img75{
	-webkit-animation-delay: 1.7s;
	-o-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
#img42, #txt21, #txt23, #img66{
	-webkit-animation-delay: 2.2s;
	-o-animation-delay: 2.2s;
	animation-delay: 2.2s;
}
#img40, #img50, #img63{
	-webkit-animation-delay: 2.5s;
	-o-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
#img43, #img64{
	-webkit-animation-delay: 2.7s;
	-o-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
#img46, #txt24, #img70{
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}
#img44, #img65{
	-webkit-animation-delay: 3.2s;
	-o-animation-delay: 3.2s;
	animation-delay: 3.2s;
}
#img45,#txt25, #img71{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#txt11new{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#img51{
	-webkit-animation-delay: 2.9s;
	-o-animation-delay: 2.9s;
	animation-delay: 2.9s;
}
#img52{
	-webkit-animation-delay: 3.5s;
	-o-animation-delay: 3.5s;
	animation-delay: 3.5s;
}
#img53, #img58, #img61, #img72{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img54{
	-webkit-animation-delay: 3.6s;
	-o-animation-delay: 3.6s;
	animation-delay: 3.6s;
}
#img55, #img47{
	-webkit-animation-delay: 4s;
	-o-animation-delay: 4s;
	animation-delay: 4s;
}
#img56, #img48, #img59, #img62, #img73{
	-webkit-animation-delay: 4.5s;
	-o-animation-delay: 4.5s;
	animation-delay: 4.5s;
}
#img57, #img49, #img60{
	-webkit-animation-delay: 4.9s;
	-o-animation-delay: 4.9s;
	animation-delay: 4.9s;
}